@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #008673;
  padding: 10px;
  justify-content: center;
  display: flex;
}
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  margin: 0 10px;
}

.nav-a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.nav-a:hover {
  background-color: #01b29c;
  border-radius: 12px;
}

.container {
  display: flex;
}

.text {
  padding: 20px;
  line-height: 123%;
}

.hero-left {
  padding: 150px 20px 0 50px;
}

.hero-right {
  padding: 100px 50px 0 50px;
}
