body {
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #008673;
  padding: 10px;
  justify-content: center;
  display: flex;
}
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  margin: 0 10px;
}

.nav-a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.nav-a:hover {
    background-color: #01b29c;
    border-radius: 12px;
}
